<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Site</title>
  </head>

  <body>
    <h2>Add Article:</h2>

    <form action="/articles/new" method="post">
      <label for="article_title">Article Title:</label>
      <input type="text" id="article_title" name="article_title">
          </br></br>
      <label for="article_url">URL:</label>
      <input type="text" id="article_url" name="article_url">
          </br></br>
      <label for="article_description">Description:</label>
      <input type="text" id="article_description" name="article_description">
          </br></br>
      <input type="submit">
    </form>

    </br></br>

    <a href = "/articles">Back to Articles</a>

  </body>
</html>
